html, body {
    height: 100%;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.sidebar {
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    width: 220px;
}

.sidebar-menu {
    padding: 10px;
}

.container-fluid {
    flex-grow: 1;
}

.container-sub {
    display: flex;
    flex-grow: 1;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 3px 0;
    line-height: 29px;
    letter-spacing: -0.1px;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
}

.menu-item i {
    margin-right: 10px;
    font-size: 16px;
}

.menu-item:hover {
    background: rgb(234, 234, 234);
}

.menu-item.active {
    background: rgb(230, 244, 254);
    color: rgb(13, 116, 206);
    font-weight: bold;
    border: solid 1.5px rgba(0, 32, 251, 0.16);
}

.c-height {
    height: 87vh;
}

.card-body {
    display: flex;
    padding: 0;
    overflow: hidden;
}

#contatos_lista {
    padding: 5px;
}

.main-content{
    padding:10px;
    flex-grow: 1;
}

.card-body-main{
    display: flex;
    flex-direction: row;
    flex-grow:1;
}

.contato-chat{
    width: 300px;
    border-right: solid 1px rgb(200,200,200);
}
.contato-chat-title{
    padding: 10px 10px 10px 15px;
    border-bottom: solid 1px rgb(200,200,200);
}
.c-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.c-user:hover {
    background: rgb(234, 234, 234);
    cursor: pointer;
}
.c-user-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-user-icon{
    width: 40px;
    height: 40px;
    background-color: rgb(200,200,200);
    border-radius: 25px;
    text-align: center;
    align-content: center;
}
.c-user-name{
    margin-left: 5px
}
.c-user-badge{
    width: 30px;
    height: 25px;
    background-color: rgb(255,140,95);
    border-radius: 12px;
    text-align: center;
    align-content: center;
    font-size: 13px;
    margin-left: 5px;
}
.chat-main{
    display:flex;
    flex-grow: 1;
    flex-direction: column;
}
.chat-main-title{
    padding: 10px 10px 10px 15px;
    border-bottom: solid 1px rgb(200,200,200);
    font-weight: bold;
    min-height: 45px;
}
.chat-main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;overflow-y: scroll;
    scrollbar-width: none;
}
.chat-conversation{
    flex-grow: 1;
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.chat-conversation-input{
    padding: 10px 10px 10px 15px;
}
.chat-file{
    margin-right: 10px;
    align-items: center;
    display: flex;
}
.chat-input{
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: 10px
}
.chat-message{
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;
}
.chat-message.recipient{
    align-items: end
}
.chat-message-info{
    flex-direction: row;
    display: flex;
}
.message-avatar{
    width: 22px;height: 22px;
    background-color: rgb(0,32,251);
    border-radius: 25px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
    color: white
}
.message-username{
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px
}
.message-date{
    margin-left: 10px;
    font-size: 13px;
    color: #707070;
    font-weight: normal;
}
.message-text{
    width: 260px;
    padding: 15px;
    background: rgb(204,255,210);
    border-radius: 10px;
}